body {
	background-image: url("https://texturefabrik.files.wordpress.com/2013/05/paper_01.jpg");
}
.top {
	background-color: white;
	padding:50px;
	position: relative;
}
header {
	background-color: aqua;
	color: white;
	float: left;
	padding: 20px 10px 1px 20px;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 40px;
	margin-left: 50px;
	margin-top: -50px;
}
header:after {
	content: "";
	clear: both;
	margin: 30px;

}
.list {
	background-color: white;
	color: grey;
	font-family: arial;
	float: right;
	padding: 20px 10px 5px 20px;
	margin-right: 60px;
	margin-top: -15px;
	position: relative;
}
.aboutme {
	background-color: white;
	padding: 20px 10px 100px 20px;
	float: left;
	font-family: arial;
	margin: 50px 800px 50px 100px;
}
.connect {
	background-color: white;
	color: grey;
	font-family: arial;
	float: right;
	padding: 20px 10px 5px 20px;
	margin: -300px 250px -100px 200px;
}
#aboutme { 
	text-decoration: none;
	text-decoration-line: underline;
}
footer {
	background-color: #999;
	text-align: center;
	padding: 20px;
	margin: 400px 10px 10px 10px;
}
